.h4-row {
  margin-left: 1em;
  margin-bottom: -2rem;
  padding-top: 2em;
  color: white;
}

.div-poster {
  display: flex;
  gap: 1.5rem;
  padding: 4rem 1rem 0.3rem 1rem;
  overflow: hidden;
  overflow-x: auto;
  z-index: 98;
}

.poster-row {
  max-height: 12rem;
  object-fit: contain;
  margin-bottom: 0.3rem;
  transition: 0.2s ease-in-out;
}

.poster-row:active {
  transform: scale(1.2) translateY(-30px);
}
