.h4-row {
  margin-left: 1em;
  padding-top: 2em;
  color: white;
}

.div-poster {
  position: relative;
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  overflow: hidden;
  overflow-x: auto;
}

.poster-row {
  max-height: 12rem;
  min-width: 128px;
  object-fit: contain;
  margin-bottom: 0.3rem;
  transition: 0.3s ease-in-out;
  z-index: 99;
}

.div-poster::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  height: 5px;
}

.div-poster:hover::-webkit-scrollbar {
  width: 20%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.493);
}

.poster-row:hover {
  transform: scale(1.2);
  z-index: 99;
}
