
.section-profile {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;  
}

.article-profile {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 2em, 0em;
}

.div-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    border: 2px solid red;
    padding: 2em 0em;
}

.div-interno{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2em;
}

.h5-profile {
    align-self: start;
    width: 80%;
    margin: 30px 0px -20px 30px;
}

.salir-profile {
    width: 70%;
    padding: 10px;
    height: auto;
    margin-right: 1em;
    font-size: small;
    border: none;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: red;
}

.salir-profile:hover{
    color: white;
    background-color: rgb(209, 55, 55);
}
