

.footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 20vh;
}

.div-icons {
  display: flex;
  width: 100%;
  bottom: 0;
  gap: 2rem;
  padding-left: 2rem;
  left: 0;
  color: white;
}

.footer i {
  font-size: 20px;
}

.footer p {
    padding: 1rem 2em 2em 2em;
    align-self: start;
    color: white;
    font-size: x-small;
    text-align: center;
}

.footer a:hover{
    color: rgb(187, 176, 176);
}
